body {
  font-family: 'Inter', 'Roboto', Arial, sans-serif;
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.2s ease, color 0.2s ease; /* Transição suave */
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.animate-spin-slow {
  animation: spin-slow 2s linear infinite;
}

:root {
  --bg: #f8f9fa;
  --text: #2d3436;
}

.dark {
  --bg: #1e1e1e;
  --text: #d4d4d4;
}
